@tailwind base;

@tailwind components;
@tailwind utilities;

.rbc-calendar {
    background-color: transparent;
    color: inherit;
}

.rbc-toolbar {
    background: transparent;
    color: inherit;
    border-bottom: 1px solid #e5e7eb;
}

.rbc-event {
    background-color: #0011ff;
    color: white;
    border-radius: 6px;
    padding: 2px 6px;
    font-size: 0.75rem;
}

.fc-event {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* dans ton CSS global ou avec tailwind plugin */
.rbc-event-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rbc-today {
    background-color: rgba(236, 72, 153, 0.1);
    /* pink-500/10 */
}

.dark .rbc-calendar {
    background-color: #1f2937;
    /* gray-800 */
    color: #f3f4f6;
    /* gray-100 */
}

.dark .rbc-event {
    background-color: #0011ff;
    /* pink-600 */
}

.dark .rbc-toolbar {
    color: #f9fafb;
}

.dark .rbc-off-range {
    color: #6b7280;
    /* gray-500 */
}

/* 🎯 Hover sur les cellules de jour */
.rbc-month-row .rbc-day-bg:hover {
    background-color: #f3f4f6;
    /* gray-100 */
}

.dark .rbc-month-row .rbc-day-bg:hover {
    background-color: #4b5563;
    /* gray-600 */
}

/* 🎯 Hover sur les events */
.rbc-event {
    transition: transform 0.1s ease, background-color 0.2s ease;
}

.rbc-event:hover {
    transform: scale(1.02);
    background-color: #db2777 !important;
    /* pink-600 */
}

/* ✅ Séparation nette entre les cellules */
.rbc-month-view .rbc-date-cell,
.rbc-month-row .rbc-day-bg,
.rbc-time-view .rbc-timeslot-group {
    border: 1px solid #e5e7eb;
    /* gray-200 */
}

.dark .rbc-month-view .rbc-date-cell,
.dark .rbc-month-row .rbc-day-bg,
.dark .rbc-time-view .rbc-timeslot-group {
    border: 1px solid #374151;
    /* gray-700 */
}

.fc-more-link {
    color: #0871fc !important;
    /* rose tailwind */
    font-weight: 900;
    font-size: 0.75rem;
}